<% form_for(:mediasilo_demonstration, @mediasilo_demonstration, :url=> {:controller=>'actions', :action=>'update'},  :html => {:id => 'edit_action' } ) do |f| %>
  <%= f.error_messages %>

  <li>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </li>
  <li>
    <%= f.label :comments %>
    <%= f.text_area :comments, :rows => 3 %>
  </li>
  <li>
    <%= f.label 'Operation'%>
    <%= select_tag('mediasilo_demonstration[operation]', options_for_select(MediasiloDemonstration::OPERATION_LIST, @mediasilo_demonstration.operation)) %>
  </li>

<% end %>
